body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background: #eef4f7;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

  .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

  .wave .shape-fill {
  fill: #4b57db ;
}

  hr {
  width: 50vw;
  color: black;
}

.blue {
  background-color:#4b57db ;
}

.darky {
  background-color:#1f2527;
}

.darkblue {
  background-color: #233252;
}

.skyblue {
  background-color: #a2cffe;
}

.water {
  background-color: #FFE4C4;
}

.container-fluid {
  background-color: #eef4f7;
}

.base_font {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: black; 
}

.head_font {
  font-family:'Space Mono', monospace;
  color: black;
}

.nav {
  background-color:#eef4f7;
  overflow: hidden;
}
.nav a {
  float: left;
  color: #1f2527;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background-color: #1f2527;
  color: #eef4f7;
  text-decoration: underline;
}

.nav a.active {
  background-color: #1f2527;
  color: #eef4f7;
}

.table-borderless {
  color: ivory;
}





