---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    
    <h1>{{ page.title }}</h1>
    <i>{{ page.date | date: "%b %d, %Y" }}</i>
    <h4 class="subtitle">{{ page.subtitle }}</h4>

<span class="ert">
    <abbr title="Estimated Reading Time">ERT</abbr>
    {% assign words_total = page.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
    {% assign words_without_code = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
    {% assign words_without_math = page.content | strip_html | number_of_words %}
    {% assign words_without_either = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}

    {% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
    {% assign words_math = words_total | minus: words_without_math | times: 2.0 %}
    {% assign words = words_without_either | plus: words_code | plus: words_math | round %}

    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} minute{% if ert != 1 %}s{% endif %}
</span>

    {{ page.content }}

    {% if page.tags %}
  <div class="post-tags">
    <div class="tags-separator"></div>
    <p class="tags-label">tags:</p>
    <div class="tags-list">
      {% for tag in page.tags %}
        <a href="{{ '/tagged/' | append: tag | relative_url }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<br>
<div style="display:flex; justify-content:flex-end; align-items:center;">
  <button class="print-button" onclick="window.print()" aria-label="Print this page">print ↓</button>

  <button class="print-button" onclick="location.href='mailto:?subject=Check out this post&body=I thought you’d enjoy this: {{ page.url | absolute_url }}'" aria-label="Share by Email" style="margin-left:12px;">
    share↗
  </button>
</div>


<style>

</style>


</main>

{% include footer-post.html %}

</body>

</html>